/* https://jsfiddle.net/icebob/m7o1Lase/ */

nav {
    margin: 30px 0 50px 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

nav > div {
    display: inline-block;
    width: 150px;
    margin: 0 10px 0 0;
    height: 20px;
    position: relative;
}

nav .parent {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
    background: #F9F9F9;
    border: 1px solid #AAA;
    border-bottom: 1px solid #777;
    color: #282D31;
    font-weight: bold;
    z-index: 2;
    position: relative;
    -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
    -webkit-transition-delay: .8s;
    text-align: center;
}

nav .parent:hover, nav .content:hover ~ .parent {
    background: #fff;
    -webkit-transition-delay: 0s, 0s, 0s;
}

nav .content:hover ~ .parent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
}

nav .content {
    position: absolute;
    top: 0;
    display: block;
    z-index: 1;
    height: 0;
    width: 100%;
    padding-top: 30px;
    -webkit-transition: height .5s ease;
    -webkit-transition-delay: .4s;
    border: 1px solid #777;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}

nav > div:active .content {
    height: 155px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}

nav .content:hover {
    height: 155px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}


nav .content ul {
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav .content ul a {
    text-decoration: none;
}

nav .content li:hover {
    background: #eee;
    color: #333;
}

nav .content li {
    list-style: none;
    text-align: left;
    color: #888;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
    border-top: 1px solid #ccc;
}

nav .content li:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
