* {
    font-family: "Ubuntu", "Open Sans", "Sans";
    line-height: 3.6vh;
}

@media all and (max-width: 600px)
{
    font-size: 1.0vw;
}

body {
    margin: auto;
    max-width: 600pt;
    padding: 10pt;
    padding-top: 3em;
}

#preamble h1 {
    font-size: 30pt;
    color: darkred;
}

#postamble {
    text-align: right;
    border-top: 1px solid black;
}

pre, code, tt {
    font-family: "Courier";
    background: #eee;
    padding: 1pt;
}

td, th {
    vertical-align: top;
    padding: 5pt;
}

a {
    color: #01008a;
    text-decoration: none;
}
