<h1>OTech Notes</h1>
<nav>
    <div>
        <div class="parent">
            <a href="index.html">Home</a>
        </div>
    </div>

    <div>
        <div class="parent">Coding <i class="fas fa-caret-down"></i></div>
        <div class="content">
            <ul>
                <li><a href="IT-wisdom.html">IT Wisdom</a></li>
                <li><a href="productivity.html">Productivity</a></li>
                <li><a href="python.html">Python</a></li>
                <li><a href="javascript.html">Javascript</a></li>
                <li><a href="elisp.html">Elisp</a></li>
            </ul>
        </div>
    </div>

    <div>
        <div class="parent">Emacs <i class="fas fa-caret-down"></i></div>
        <div class="content">
            <ul>
                <li><a href="emacs.html">Emacs</a></li>
                <li><a href="elisp.html">Elisp</a></li>
                <li><a href="orgmode.html">Orgmode</a></li>
            </ul>
        </div>
    </div>

    <div>
        <div class="parent">Tools <i class="fas fa-caret-down"></i></div>
        <div class="content">
            <ul>
                <li><a href="docker.html">Docker</a></li>
                <li><a href="documentation.html">Documentation</a></li>
                <li><a href="meteor.html">Meteor</a></li>
                <li><a href="vagrant.html">Vagrant</a></li>
                <li><a href="web_scraping.html">Web scraping</a></li>
            </ul>
        </div>
    </div>
</nav>
